@reference "../../../../app/globals.css";

.active {
    @apply text-theme-hover after:bg-theme-hover relative
}

.active::after{
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 4px;     
    border-radius: 0 0 40px 40px;   
}

.tabTitle{
    @apply flex items-center
}

.tabTitle > h1{
    @apply font-semibold text-[16px] md:text-[18px] lg:text-[20px]
}