.category_scroll::-webkit-scrollbar-button {
  display: none;
}

.category_scroll::-webkit-scrollbar {
  width: 8px;
}

.category_scroll::-webkit-scrollbar-thumb {
  background-color: #050050;
  border-radius: 0;
}